Source: salt-formula-glance
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://wiki.openstack.org/wiki/OpenStackSalt
Vcs-Browser: https://github.com/openstack/salt-formula-glance
Vcs-Git: https://github.com/openstack/salt-formula-glance.git

Package: salt-formula-glance
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Glance Salt formula
 Install and configure Glance server and client.
